@media (min-width: 480px) {
  .page-layout {
    background-image: url(../img/mainBG-desktop.jpg);
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
  }
  .input {
    height: 45px;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
  }
  .input--textarea {
    height: 300px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
  }
  .btn {
    width: 180px;
    font-size: 11px;
  }
  .btn:after {
    width: 190px;
  }
  .headline {
    font-size: 26px;
  }
  /* Block - header */
  .header__logo {
    font-size: 15px;
  }
  .header__phone-icon {
    width: 30px;
    height: 30px;
  }
  .header__phone-icon:after {
    width: 15px;
  }
  /* Video block */
  .video-slider__player {
    height: 300px;
  }
  .video-slider__item {
    height: 180px;
  }
  .video-slider__preview {
    width: 100%;
  }
  /* Block - benefits */
  .benefits__item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  /* Block - arrange */
  .arrange__item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }
  .arrange__item br:nth-child(3),
  .arrange__item br:nth-child(1) {
    display: none;
  }
  .arrange__text {
    width: 80%;
  }
  /* Social block */
  .social {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  /* Footer */
  .footer__address {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    margin-bottom: 20px;
    -webkit-background-size: 20px 20px;
       -moz-background-size: 20px;
         -o-background-size: 20px;
            background-size: 20px;
    background-position: 0 0;
  }
  .footer__address--mail {
    background-position-y: 3px;
  }
  .adv__pharse--main br {
    display: none;
  }
}
@media (min-width: 750px) {
  .btn--main {
    width: 250px;
  }
  .btn--main:after {
    width: 260px;
  }
  .headline {
    font-size: 28px;
  }
  .main__action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__inner,
  .main__inner,
  .adv__inner,
  .examples__inner,
  .request__inner,
  .arrange__inner,
  .process__inner,
  .feedback__inner,
  .footer__inner {
    max-width: 700px;
    margin: 0 auto;
  }
  .process .slick-list {
    overflow: hidden !important;
  }
  /* Adv block */
  .adv__phrase br {
    display: none;
  }
  /* Process block */
  .process__text br:nth-child(2) {
    display: none;
  }
  .benefits {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .benefits__item {
    width: 45%;
  }
  .benefits__item:nth-child(1) {
    margin-top: 20px;
  }
}
@media (min-width: 1000px) {
  .headline {
    font-size: 30px;
  }
  .header__inner {
    height: 50px;
  }
  .adv__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .adv__item {
    width: 32%;
  }
  .header__inner,
  .main__inner,
  .adv__inner,
  .examples__inner,
  .request__inner,
  .arrange__inner,
  .process__inner,
  .feedback__inner,
  .footer__inner {
    max-width: 950px;
    margin: 0 auto;
  }
  .headline--request br {
    display: none;
  }
  .process__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 107px;
  }
  .process__text {
    margin: 0;
    width: 38%;
  }
  .process__text br:first-child {
    display: none;
  }
}
