@media (min-width: 480px) {
  .page-layout {
    background-image: url(../img/mainBG-desktop.jpg);
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
  }
  .input {
    height: 45px;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
  }
  .input--textarea {
    height: 300px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
  }
  .btn {
    width: 180px;
    font-size: 11px;
  }
  .btn:after {
    width: 190px;
  }
  .headline {
    font-size: 26px;
  }
  /* Block - header */
  .header__logo {
    font-size: 15px;
  }
  .header__phone-icon {
    width: 30px;
    height: 30px;
  }
  .header__phone-icon:after {
    width: 15px;
  }
  /* Video block */
  .video-slider__player {
    height: 300px;
  }
  .video-slider__item {
    height: 180px;
  }
  .video-slider__preview {
    width: 100%;
  }
  /* Block - benefits */
  .benefits__item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  /* Block - arrange */
  .arrange__item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }
  .arrange__item br:nth-child(3),
  .arrange__item br:nth-child(1) {
    display: none;
  }
  .arrange__text {
    width: 80%;
  }
  /* Social block */
  .social {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  /* Footer */
  .footer__address {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    margin-bottom: 20px;
    -webkit-background-size: 20px 20px;
       -moz-background-size: 20px;
         -o-background-size: 20px;
            background-size: 20px;
    background-position: 0 0;
  }
  .footer__address--mail {
    background-position-y: 3px;
  }
  .adv__pharse--main br {
    display: none;
  }
}
@media (min-width: 750px) {
  .btn--main {
    width: 250px;
  }
  .btn--main:after {
    width: 260px;
  }
  .headline {
    font-size: 28px;
  }
  .main__action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__inner,
  .main__inner,
  .adv__inner,
  .examples__inner,
  .request__inner,
  .arrange__inner,
  .process__inner,
  .feedback__inner,
  .footer__inner {
    max-width: 700px;
    margin: 0 auto;
  }
  .process .slick-list {
    overflow: hidden !important;
  }
  /* Adv block */
  .adv__phrase br {
    display: none;
  }
  /* Process block */
  .process__text br:nth-child(2) {
    display: none;
  }
  .benefits {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .benefits__item {
    width: 45%;
  }
  .benefits__item:nth-child(1) {
    margin-top: 20px;
  }
  /* Block - video */
  .video-slider__item {
    height: 180px;
  }
}
@media (min-width: 1000px) {
  html {
    width: 100%;
    overflow-x: visible;
  }
  .page-layout {
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .headline {
    font-size: 30px;
  }
  .btn--main {
    width: 280px;
  }
  .btn--main:after {
    width: 290px;
  }
  /* Header */
  .header__phone-number {
    display: inline-block;
  }
  .header__phone-icon {
    border: none;
  }
  .header__phone-icon:after {
    width: 20px;
    height: 20px;
    background-image: url(../img/phone-red-icon.svg);
    -webkit-background-size: 20px 20px;
       -moz-background-size: 20px;
         -o-background-size: 20px;
            background-size: 20px;
  }
  .header__inner {
    height: 50px;
  }
  /* Main */
  .main__top-text {
    margin-top: 141px;
  }
  .main__action {
    margin-top: 93px;
  }
  /* Adv */
  .adv__inner {
    padding-top: 311px;
  }
  .adv__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
  }
  .adv__item {
    width: 32%;
  }
  /* Examples */
  .examples__headline {
    margin-top: 130px;
    margin-bottom: 108px;
  }
  .examples .slick-list {
    overflow: hidden!important;
  }
  .examples__item.slick-slide {
    margin: 14px 0;
    height: 447px;
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -moz-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    padding: 28px 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background: -webkit-linear-gradient(45deg, red 0, red 32%, white 32%);
    background: -moz-linear-gradient(45deg, red 0, red 32%, white 32%);
    background: -o-linear-gradient(45deg, red 0, red 32%, white 32%);
    background: linear-gradient(45deg, red 0, red 32%, white 32%);
  }
  .examples__slider .slick-arrow {
    top: -120px;
    left: auto;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .examples__slider .slick-next {
    right: 80px;
  }
  .examples__slider .slick-prev {
    right: 0;
  }
  .examples__slider .arrow {
    width: 18px;
    height: 25px;
    -webkit-background-size: 15px 15px;
       -moz-background-size: 15px;
         -o-background-size: 15px;
            background-size: 15px;
  }
  .examples__slider .slick-prev i {
    left: 50%;
  }
  .examples__slider .slick-next i {
    top: 50%;
    left: 55%;
  }
  /* Slick */
  .slick-arrow {
    width: 50px;
    height: 50px;
  }
  .slick-arrow {
    border-color: #fff;
    border-width: 2px;
  }
  /* Product */
  .product__picture {
    height: 80%;
    width: 40%;
    position: static;
    background: transparent;
  }
  .product__img {
    top: 0;
    max-width: 300px;
  }
  .product__content {
    width: 51.41987829614604%;
  }
  .product__name {
    font-size: 36px;
    margin-bottom: 58px;
    padding-bottom: 0;
  }
  /*request */
  .request br {
    display: none;
  }
  .request__headline {
    margin-bottom: 66px;
  }
  .request__text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  /* Arrange */
  .arrange {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .arrange__header {
    margin-bottom: 140px;
  }
  .arrange__item,
  .arrange__item:last-child {
    margin: 0;
    margin-top: 120px;
  }
  .arrange__number span:after {
    height: 165px;
  }
  .input {
    width: 80%;
  }
  .feedback__headline {
    padding-left: 10%;
    font-size: 20px;
    white-space: normal;
    margin-top: 120px;
  }
  .feedback__headline .marked-text {
    color: #fff;
  }
  .feedback__headline br {
    display: none;
  }
  .feedback__headline br:first-child {
    display: block;
  }
  /* video */
  .video-slider__player {
    height: 400px;
  }
  /* social */
  .social {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  /* footer */
  .footer__inner {
    height: 173px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__address {
    display: block;
    width: auto;
    margin-bottom: 0;
  }
  .footer__address:last-child {
    margin-top: 32px;
  }
  .footer__logo {
    line-height: 173px;
    padding: 0;
  }
  .slick-prev,
  .header__inner,
  .main__inner,
  .adv__inner,
  .examples__inner,
  .request__inner,
  .arrange__inner,
  .process__inner,
  .feedback__inner,
  .footer__inner,
  .examples__slider,
  .arrange {
    max-width: 950px;
    margin: 0 auto;
  }
  .headline--request br {
    display: none;
  }
  .process__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
  }
  .process__text {
    margin: 0;
    width: 38%;
  }
  .process__text br:first-child {
    display: none;
  }
  /* TODO - внести блок один в другой, закончить секцию на 1000px*/
}
@media screen and (min-width: 1280px) {
  .slick-prev,
  .header__inner,
  .main__inner,
  .adv__inner,
  .examples__inner,
  .request__inner,
  .arrange__inner,
  .process__inner,
  .feedback__inner,
  .footer__inner,
  .examples__slider {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
  }
  .page-layout {
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center 0;
  }
  .headline {
    font-size: 48px;
    line-height: 60px;
  }
  .btn {
    font-size: 14px;
    height: 46px;
  }
  .btn:after {
    width: 105%;
    height: 140%;
    -webkit-border-radius: 31px;
       -moz-border-radius: 31px;
            border-radius: 31px;
    border-width: 2px;
  }
  .btn--main {
    width: 24%;
    white-space: nowrap;
  }
  .btn--main:after {
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
  }
  .btn--request {
    width: 280px;
  }
  .btn--feedback {
    width: 95%;
  }
  .input {
    width: 100%;
    padding: 25px 30px;
  }
  .input--textarea {
    height: 217px;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  /* header */
  .header__inner {
    height: 116px;
  }
  .header__logo,
  .header__phone {
    font-size: 20px;
    padding: 0;
  }
  /* Block - main */
  .main__top-text {
    font-size: 20px;
    font-weight: normal;
    margin-top: 93px;
  }
  .main__action {
    margin-top: 88px;
  }
  .main__bottom-text {
    font-size: 16px;
  }
  /*adv */
  .adv__inner {
    padding-top: 318px;
  }
  .adv__phrase {
    font-size: 20px;
  }
  .adv__pharse--main .marked-text {
    color: white;
  }
  .adv__items {
    margin-top: 70px;
  }
  .adv__item {
    height: 159px;
    width: 32.13%;
  }
  .adv__text {
    padding-left: 155px;
    font-size: 18px;
  }
  .adv__icon {
    width: 74px;
    height: 74px;
    left: 45px;
  }
  /* examples */
  .examples__headline {
    margin-top: 110px;
    margin-bottom: 70px;
  }
  .examples .slick-arrow {
    top: -115px;
  }
  .examples__item.slick-slide {
    padding: 50px 50px;
    padding-right: 80px;
  }
  .product__setting {
    white-space: nowrap;
  }
  .product__option {
    margin-top: 49px;
    font-size: 16px;
  }
  .product__amount {
    font-size: 20px;
    font-weight: 700;
  }
  .product__img {
    max-width: none;
  }
  .product__content {
    padding-left: 40px;
  }
  .product__name {
    padding-top: 40px;
  }
  .product__option {
    margin-top: 45px;
  }
  /*request */
  .request {
    padding-top: 165px;
  }
  .request__text {
    width: 45%;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 55px;
  }
  .request__headline {
    margin-bottom: 40px;
  }
  /* process */
  .process__header {
    padding-top: 295px;
    padding-left: 0;
    padding-right: 0;
  }
  .process__text {
    width: 35.32478632478632%;
    line-height: 36px;
    font-size: 18px;
  }
  .process__headline .marked-text {
    color: white;
  }
  .process__benefits {
    margin-top: 90px;
    padding: 0;
  }
  /* video */
  .video-slider__player {
    height: 448px;
  }
  .video-slider__slides {
    margin-top: 42px;
  }
  .video-slider__slides .slick-slide {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    margin: 0;
  }
  .video-slider__item,
  .video-slider__item:nth-child(3),
  .video-slider__item:nth-child(4) {
    margin-top: 0;
    width: 23.76068376068376%;
    height: 190px;
  }
  .video-slider__slides .slick-dots {
    display: none!important;
  }
  .video-slider__slides .arrow,
  .video-slider__slides .arrow {
    width: 14px;
    height: 20px;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .video-slider__slides .slick-arrow {
    top: 70px;
  }
  .video-slider__slides .slick-prev {
    left: -83px;
  }
  .video-slider__slides .slick-next {
    right: -83px;
  }
  .video-slider__icon {
    width: 50px;
    height: 50px;
  }
  .video-slider__icon:after {
    width: 22px;
    height: 22px;
  }
  /* benefits */
  .benefits__item {
    width: 32.22222222222222%;
    height: 309px;
  }
  .benefits__top-content {
    height: 38.83495145631068%;
  }
  .benefits__text {
    margin-top: 84px;
    font-size: 18px;
  }
  .benefits__icon {
    width: 95px;
    height: 95px;
    bottom: -47px;
  }
  .benefits__icon:after {
    height: 50px;
    width: 50px;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  /* Arrange */
  .arrange {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 235px;
    padding-bottom: 150px;
  }
  .arrange__inner {
    max-width: none;
    margin: 0;
    width: 59%;
  }
  .arrange__header {
    margin-bottom: 105px;
  }
  .arrange__header .marked-text {
    color: #fff;
  }
  .arrange__list {
    position: relative;
    left: -25px;
  }
  .arrange__item,
  .arrange__item:last-child {
    margin-top: 45px;
  }
  .arrange__item span:after {
    height: 114px;
    top: 85px;
  }
  .arrange__text {
    font-size: 18px;
    line-height: 30px;
  }
  .arrange__number {
    width: 180px;
    height: 180px;
  }
  .arrange__number span {
    font-size: 72px;
  }
  /* feedback */
  .feedback {
    width: 40.85470085470085%;
  }
  .feedback__headline {
    padding: 0;
    margin-top: 178px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'MyriadPro', 'Arial', sans-serif;
    line-height: 36px;
  }
  .feedback__input {
    margin-top: 22px;
  }
  .feedback__input--textarea {
    margin-bottom: 55px;
  }
  .input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 30px;
  }
  .input::-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
  }
  .input:-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
  }
  .input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 30px;
  }
  /* Footer */
  .footer__social {
    padding-left: 110px;
  }
}
