* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.btn {
  padding: 10px 28px;
  background: -webkit-gradient(linear, left top, right top, from(#f02c18), to(#fe5421));
  background: -webkit-linear-gradient(left, #f02c18, #fe5421);
  background: -moz-linear-gradient(left, #f02c18, #fe5421);
  background: -o-linear-gradient(left, #f02c18, #fe5421);
  background: linear-gradient(to right, #f02c18, #fe5421);
  font-size: 10px;
  font-weight: 600;
}
.headline {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}
.headline--examples {
  line-height: 34px;
}
.marked-text {
  color: #f8401d;
}
.page {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-family: "Monseratt", "Arial", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #141f34;
  background: -webkit-gradient(linear, left top, left bottom, from(#141f34), to(#141f34));
  background: -webkit-linear-gradient(top, #141f34, #141f34);
  background: -moz-linear-gradient(top, #141f34, #141f34);
  background: -o-linear-gradient(top, #141f34, #141f34);
  background: linear-gradient(to bottom, #141f34, #141f34);
  height: 5731px;
}
.page-layout {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: -webkit-calc(100% - 324px);
  height: -moz-calc(100% - 324px);
  height: calc(100% - 324px);
  width: 100%;
  background-image: url(../img/mainBG.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: 70% 0, 0 0;
}
/* Header block */
.header {
  font-weight: 700;
  padding-top: 9px;
}
.header__inner {
  padding: 0 10px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone-icon {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid #f8401d;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.header__phone-icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  background: url(../img/phone-icon.svg) no-repeat;
}
/* Block logo */
.logo {
  font-size: 12px;
  line-height: 25px;
}
/* Block - main */
.main__inner {
  padding: 0 10px;
}
.main__top-text {
  margin-top: 54px;
  margin-bottom: 10px;
}
.main__headline {
  margin-top: 0;
  font-weight: 500;
  line-height: 34px;
  white-space: nowrap;
}
/* Block - adv */
.adv__inner {
  padding: 0 10px;
  padding-top: 62px;
}
.adv__phrase {
  padding: 0;
  margin: 0;
}
.adv__pharse--main {
  margin-top: 18px;
  line-height: 36px;
}
.adv__items {
  margin-top: 35px;
  color: #000;
}
.adv__item {
  position: relative;
  width: auto;
  height: 126px;
  margin-bottom: 20px;
  line-height: 20.46px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  background: #fff;
}
.adv__item--active {
  color: #fff;
  background: #d53c22 url(../img/adv-bg.jpg) no-repeat;
  background-position: center center;
}
.adv__item--active .adv__icon {
  border: none;
}
.adv__icon {
  position: relative;
  top: 50%;
  left: 38px;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 58px;
  height: 58px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #f8401d;
}
.adv__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding-left: 126px;
  padding-right: 39px;
}
/* Block - icon */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  content: "";
  width: 27px;
  height: 27px;
  -webkit-background-size: 27px 27px;
     -moz-background-size: 27px;
       -o-background-size: 27px;
          background-size: 27px;
  background-repeat: no-repeat;
}
.icon--prices {
  background-image: url(../img/price-icon.svg);
}
.icon--delivery {
  background-image: url(../img/delivery-icon.svg);
}
.icon--support {
  background-image: url(../img/support-icon.svg);
}
/* Block - examples */
.examples__inner {
  padding: 0 10px;
}
.examples__headline {
  margin-top: 69px;
}
.examples__slider {
  margin-top: 70px;
}
.examples__item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  background: #fff;
}
/* Block - product */
.product__picture {
  height: 115px;
  text-align: center;
  -webkit-border-top-left-radius: 8px;
     -moz-border-radius-topleft: 8px;
          border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
     -moz-border-radius-topright: 8px;
          border-top-right-radius: 8px;
  background: #f8401d;
}
.product__img {
  position: relative;
  top: -37px;
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.product__name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.product__content {
  padding: 0 20px;
}
/* Slick slider */
.slick-list {
  overflow: visible!important;
}
